## Importamos las librerías

In [1]:
import pandas as pd

## Cargamos los datasets

In [2]:
X_train = pd.read_csv('raw_data/X_train.csv')

In [3]:
X_train.head()

,index,airchange_infiltration_vol_per_h,capacitance_kJ_perdegreK_perm3,power_VCV_kW_heat,power_VCV_kW_clim,nb_occupants,nb_PCs,facade_1_thickness_2,facade_1_window_area_percent,facade_2_thickness_2,...,TAMB_662,TAMB_663,TAMB_664,TAMB_665,TAMB_666,TAMB_667,TAMB_668,TAMB_669,TAMB_670,TAMB_671
0,0,0.1,20.0,500.0,500.0,1000.0,1000.0,0.15,45.0,0.06,...,23.2,23.1,23.5,24.1,24.2,23.9,23.3,22.1,21.0,19.7
1,1,0.3,30.0,600.0,500.0,1300.0,1400.0,0.09,40.0,0.11,...,14.5,14.8,15.3,15.0,14.7,14.0,13.2,12.5,11.9,0.0
2,2,0.1,270.0,500.0,600.0,1500.0,1500.0,0.08,45.0,0.07,...,14.5,14.8,14.7,14.6,14.5,14.0,13.8,13.1,12.5,11.6
3,3,0.4,140.0,500.0,600.0,1300.0,1300.0,0.08,45.0,0.08,...,14.5,14.8,15.0,15.2,15.0,14.8,14.9,14.5,14.1,14.2
4,4,0.4,40.0,600.0,600.0,1000.0,1500.0,0.06,50.0,0.07,...,30.3,31.3,31.5,32.0,31.5,30.8,30.2,28.2,26.4,23.8

In [4]:
y_train = pd.read_csv('raw_data/y_train.csv')

In [5]:
y_train.head()

,index,Q_AC_OFFICE_0,Q_AC_OFFICE_1,Q_AC_OFFICE_2,Q_AC_OFFICE_3,Q_AC_OFFICE_4,Q_AC_OFFICE_5,Q_AC_OFFICE_6,Q_AC_OFFICE_7,Q_AC_OFFICE_8,...,T_INT_OFFICE_662,T_INT_OFFICE_663,T_INT_OFFICE_664,T_INT_OFFICE_665,T_INT_OFFICE_666,T_INT_OFFICE_667,T_INT_OFFICE_668,T_INT_OFFICE_669,T_INT_OFFICE_670,T_INT_OFFICE_671
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.0000,23.0000,23.0000,23.0000,23.7004,24.7010,25.3532,25.8526,26.0000,26.0000
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.8157,20.9522,21.0344,21.0586,21.0659,21.0449,20.9765,20.8875,20.6578,20.3838
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.5000,23.5000,23.5000,23.5000,23.5000,23.5000,23.5018,23.5032,23.5006,23.4927
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.1434,22.2447,22.3606,22.4758,22.5641,22.5912,22.5744,22.5523,22.5276,22.5080
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.5000,23.5000,23.5000,23.5000,23.9176,24.7056,25.2880,25.5000,25.5000,25.5000

## Armamos lista de features temporales

In [6]:
columns_s = [x[:-4] for x in X_train.columns if '671' in x]

In [7]:
columns_s

['ac_t_conf',
 'ac_t_red',
 'ac_mask',
 'heat_t_conf',
 'heat_t_red',
 'heat_mask',
 'ventilation_t',
 'ventilation_vol',
 'ventilation_mask',
 'occupancy',
 'pc_on_mask',
 'DNI',
 'IBEAM_H',
 'IBEAM_N',
 'IDIFF_H',
 'IGLOB_H',
 'RHUM',
 'TAMB']

In [8]:
len(columns_s)

18

## Armamos dataframe nuevo con feautres atemporales y temporales reducidos

In [9]:
X_train_f = X_train.iloc[:, 0:20]
X_train_f.head()

,index,airchange_infiltration_vol_per_h,capacitance_kJ_perdegreK_perm3,power_VCV_kW_heat,power_VCV_kW_clim,nb_occupants,nb_PCs,facade_1_thickness_2,facade_1_window_area_percent,facade_2_thickness_2,facade_2_window_area_percent,facade_3_thickness_2,facade_3_window_area_percent,facade_4_thickness_2,facade_4_window_area_percent,roof_thickness_2,ground_thickness_2,init_day,init_month,init_year
0,0,0.1,20.0,500.0,500.0,1000.0,1000.0,0.15,45.0,0.06,45.0,0.11,40.0,0.06,50.0,0.11,20.0,4.0,6.0,2019.0
1,1,0.3,30.0,600.0,500.0,1300.0,1400.0,0.09,40.0,0.11,50.0,0.15,45.0,0.11,45.0,0.07,20.0,11.0,3.0,2019.0
2,2,0.1,270.0,500.0,600.0,1500.0,1500.0,0.08,45.0,0.07,40.0,0.13,45.0,0.15,45.0,0.13,20.0,12.0,4.0,2019.0
3,3,0.4,140.0,500.0,600.0,1300.0,1300.0,0.08,45.0,0.08,50.0,0.05,40.0,0.06,50.0,0.07,20.0,26.0,9.0,2019.0
4,4,0.4,40.0,600.0,600.0,1000.0,1500.0,0.06,50.0,0.07,45.0,0.13,45.0,0.05,40.0,0.14,20.0,9.0,6.0,2019.0

In [10]:
X_train_s = pd.DataFrame()
for column in columns_s:
    morning = X_train[f'{column}_0']
    afternoon = 0
    night = 0
    
    time_of_day = 'm'
    
    for hour in range(1,672):
        if hour%8 == 0:
            if time_of_day == 'm':
                time_of_day = 'a'
            elif time_of_day == 'a':
                time_of_day = 'n'
            else:
                time_of_day = 'm'
            
        if time_of_day == 'm':
            morning = morning + X_train[f'{column}_{hour}']
        elif time_of_day == 'a':
            afternoon = afternoon + X_train[f'{column}_{hour}']
        else:
            night = night + X_train[f'{column}_{hour}']
    
    X_train_s[f'{column}_morning'] = morning/672
    X_train_s[f'{column}_afternoon'] = afternoon/672
    X_train_s[f'{column}_night'] = night/672

In [11]:
X_train_s.head()

,ac_t_conf_morning,ac_t_conf_afternoon,ac_t_conf_night,ac_t_red_morning,ac_t_red_afternoon,ac_t_red_night,ac_mask_morning,ac_mask_afternoon,ac_mask_night,heat_t_conf_morning,...,IDIFF_H_night,IGLOB_H_morning,IGLOB_H_afternoon,IGLOB_H_night,RHUM_morning,RHUM_afternoon,RHUM_night,TAMB_morning,TAMB_afternoon,TAMB_night
0,7.809524,7.809524,7.809524,8.547619,8.547619,8.547619,0.017857,0.315476,0.101190,6.857143,...,49.239583,0.900298,168.427083,88.813988,24.209821,20.046131,17.794643,5.695089,6.956696,7.511905
1,7.785714,7.785714,7.785714,8.547619,8.547619,8.547619,0.005952,0.303571,0.119048,6.880952,...,19.351190,0.063988,121.941964,30.135417,8.794643,7.345238,6.952381,2.661756,3.782292,3.926339
2,7.785714,7.785714,7.785714,8.500000,8.500000,8.500000,0.000000,0.285714,0.130952,6.880952,...,39.773810,0.044643,123.534226,63.656250,23.377976,19.855655,17.415179,3.374702,4.391964,4.869940
3,7.809524,7.809524,7.809524,8.500000,8.500000,8.500000,0.000000,0.291667,0.107143,6.833333,...,19.909226,0.000000,56.130952,29.252976,28.092262,25.578869,23.587798,4.446131,5.008482,5.265030
4,7.809524,7.809524,7.809524,8.523810,8.523810,8.523810,0.005952,0.279762,0.113095,6.904762,...,48.224702,0.876488,184.842262,98.099702,23.108631,18.577381,15.955357,5.927827,7.366220,8.081845

In [12]:
X_train_red = pd.concat([X_train_f, X_train_s], axis=1)
X_train_red.head()

,index,airchange_infiltration_vol_per_h,capacitance_kJ_perdegreK_perm3,power_VCV_kW_heat,power_VCV_kW_clim,nb_occupants,nb_PCs,facade_1_thickness_2,facade_1_window_area_percent,facade_2_thickness_2,...,IDIFF_H_night,IGLOB_H_morning,IGLOB_H_afternoon,IGLOB_H_night,RHUM_morning,RHUM_afternoon,RHUM_night,TAMB_morning,TAMB_afternoon,TAMB_night
0,0,0.1,20.0,500.0,500.0,1000.0,1000.0,0.15,45.0,0.06,...,49.239583,0.900298,168.427083,88.813988,24.209821,20.046131,17.794643,5.695089,6.956696,7.511905
1,1,0.3,30.0,600.0,500.0,1300.0,1400.0,0.09,40.0,0.11,...,19.351190,0.063988,121.941964,30.135417,8.794643,7.345238,6.952381,2.661756,3.782292,3.926339
2,2,0.1,270.0,500.0,600.0,1500.0,1500.0,0.08,45.0,0.07,...,39.773810,0.044643,123.534226,63.656250,23.377976,19.855655,17.415179,3.374702,4.391964,4.869940
3,3,0.4,140.0,500.0,600.0,1300.0,1300.0,0.08,45.0,0.08,...,19.909226,0.000000,56.130952,29.252976,28.092262,25.578869,23.587798,4.446131,5.008482,5.265030
4,4,0.4,40.0,600.0,600.0,1000.0,1500.0,0.06,50.0,0.07,...,48.224702,0.876488,184.842262,98.099702,23.108631,18.577381,15.955357,5.927827,7.366220,8.081845

In [13]:
X_train_red.shape

(7500, 74)

In [14]:
X_train[['ac_t_conf_0', 'ac_t_red_0', 'ac_mask_0', 'heat_t_conf_0', 'heat_t_red_0', 'heat_mask_0', 'ventilation_t_0', 'ventilation_vol_0','ventilation_mask_0', 'TAMB_0']]

,ac_t_conf_0,ac_t_red_0,ac_mask_0,heat_t_conf_0,heat_t_red_0,heat_mask_0,ventilation_t_0,ventilation_vol_0,ventilation_mask_0,TAMB_0
0,24.0,25.5,0.0,21.0,19.0,0.0,20.0,1.0,0.0,17.5
1,23.5,25.0,0.0,21.0,18.0,0.0,19.5,2.0,0.0,7.4
2,23.5,26.0,0.0,21.0,19.0,0.0,20.0,1.5,0.0,8.3
3,23.5,25.0,0.0,20.5,18.5,0.0,19.0,1.5,0.0,16.2
4,24.0,25.0,0.0,21.0,19.0,0.0,18.0,1.0,0.0,14.9
...,...,...,...,...,...,...,...,...,...,...
7495,23.0,25.5,0.0,20.5,18.5,0.0,19.5,2.0,0.0,6.5
7496,23.5,26.0,0.0,20.5,18.0,0.0,20.0,1.0,0.0,10.1
7497,23.5,25.5,0.0,21.0,18.0,0.0,20.0,2.0,0.0,19.3
7498,23.5,25.0,0.0,20.5,19.0,0.0,18.5,1.5,0.0,11.2
7499,23.5,25.5,0.0,21.0,18.0,0.0,18.0,2.0,0.0,15.8

In [15]:
y = y_train
del y['index']
y.head()

,Q_AC_OFFICE_0,Q_AC_OFFICE_1,Q_AC_OFFICE_2,Q_AC_OFFICE_3,Q_AC_OFFICE_4,Q_AC_OFFICE_5,Q_AC_OFFICE_6,Q_AC_OFFICE_7,Q_AC_OFFICE_8,Q_AC_OFFICE_9,...,T_INT_OFFICE_662,T_INT_OFFICE_663,T_INT_OFFICE_664,T_INT_OFFICE_665,T_INT_OFFICE_666,T_INT_OFFICE_667,T_INT_OFFICE_668,T_INT_OFFICE_669,T_INT_OFFICE_670,T_INT_OFFICE_671
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.0000,23.0000,23.0000,23.0000,23.7004,24.7010,25.3532,25.8526,26.0000,26.0000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.8157,20.9522,21.0344,21.0586,21.0659,21.0449,20.9765,20.8875,20.6578,20.3838
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.5000,23.5000,23.5000,23.5000,23.5000,23.5000,23.5018,23.5032,23.5006,23.4927
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.1434,22.2447,22.3606,22.4758,22.5641,22.5912,22.5744,22.5523,22.5276,22.5080
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.5000,23.5000,23.5000,23.5000,23.9176,24.7056,25.2880,25.5000,25.5000,25.5000

In [16]:
y['Q_AC_OFFICE']=y.iloc[:,0:672].sum(axis=1)

In [17]:
y = y.drop(y.iloc[:,0:672], axis='columns')

In [18]:
y['Q_HEAT_OFFICE']=y.iloc[:,0:672].sum(axis=1)

In [19]:
y = y.drop(y.iloc[:,0:672], axis='columns')

In [20]:
y['Q_PEOPLE']=y.iloc[:,0:672].sum(axis=1)

In [21]:
y = y.drop(y.iloc[:,0:672], axis='columns')

In [22]:
y['Q_EQP']=y.iloc[:,0:672].sum(axis=1)

In [23]:
y = y.drop(y.iloc[:,0:672], axis='columns')

,Q_LIGHT_0,Q_LIGHT_1,Q_LIGHT_2,Q_LIGHT_3,Q_LIGHT_4,Q_LIGHT_5,Q_LIGHT_6,Q_LIGHT_7,Q_LIGHT_8,Q_LIGHT_9,...,T_INT_OFFICE_666,T_INT_OFFICE_667,T_INT_OFFICE_668,T_INT_OFFICE_669,T_INT_OFFICE_670,T_INT_OFFICE_671,Q_AC_OFFICE,Q_HEAT_OFFICE,Q_PEOPLE,Q_EQP
0,0.0,0.2100,0.2100,0.2100,0.2100,0.2100,0.2100,8.4240,8.4240,8.4240,...,23.7004,24.7010,25.3532,25.8526,26.0000,26.0000,10748.1049,0.0000,3240.0,3874.3458
1,0.0,0.3010,0.3010,0.3010,0.3010,0.3010,0.3010,8.4240,8.4240,8.4240,...,21.0659,21.0449,20.9765,20.8875,20.6578,20.3838,1819.3670,469.0627,4212.0,5667.4181
2,0.0,0.0139,0.0139,0.0139,0.0139,0.0139,0.0139,8.4240,8.4240,8.4240,...,23.5000,23.5000,23.5018,23.5032,23.5006,23.4927,6245.3497,0.0000,4860.0,6409.7036
3,0.0,1.6660,1.6660,1.6660,1.6660,1.6660,1.6660,8.4240,8.4240,8.4240,...,22.5641,22.5912,22.5744,22.5523,22.5276,22.5080,2372.0553,0.0000,4212.0,6605.6016
4,0.0,0.1669,0.1669,0.1669,0.1669,0.1669,0.1669,0.1669,0.1669,0.1669,...,23.9176,24.7056,25.2880,25.5000,25.5000,25.5000,15234.8404,0.0000,3240.0,7581.4202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.8401,0.8401,0.8401,0.8401,0.8401,0.8401,0.8401,0.8401,0.8401,...,23.9896,24.0619,24.1669,24.2421,24.3024,24.3356,7207.0976,0.0000,4536.0,5637.0669
7496,0.0,1.0097,1.0097,1.0097,1.0097,1.0097,1.0097,8.4240,8.4240,8.4240,...,23.5000,23.5264,23.5779,23.6190,23.6463,23.6481,2117.5981,0.0000,4860.0,4531.5950
7497,0.0,0.6868,0.6868,0.6868,0.6868,0.6868,0.6868,0.6868,0.6868,0.6868,...,23.0000,23.0000,23.0082,23.0227,23.0339,23.0466,9401.5695,0.0000,3888.0,5784.6155
7498,0.0,0.4846,0.4846,0.4846,0.4846,0.4846,0.4846,8.4240,8.4240,8.4240,...,23.0000,23.0000,23.1289,23.3468,23.5082,23.5980,12303.7953,0.0000,4536.0,4425.8534
7499,0.0,2.3795,2.3795,2.3795,2.3795,2.3795,2.3795,8.4240,8.4240,8.4240,...,23.0000,23.1298,23.3641,23.5447,23.6895,23.7992,12126.5876,0.0000,4860.0,5550.6341

In [24]:
y['Q_LIGHT']=y.iloc[:,0:672].sum(axis=1)

In [25]:
y = y.drop(y.iloc[:,0:672], axis='columns')

In [26]:
y['Q_AHU_C']=y.iloc[:,0:672].sum(axis=1)

In [27]:
y = y.drop(y.iloc[:,0:672], axis='columns')

In [28]:
y['Q_AHU_H']=y.iloc[:,0:672].sum(axis=1)

In [29]:
y = y.drop(y.iloc[:,0:672], axis='columns')

In [30]:
y['T_INT_OFFICE_MEN']=y.iloc[:,0:672].mean(axis=1)

In [31]:
target=y
target=target.drop(y.iloc[:,0:672], axis='columns')

In [32]:
target

,Q_AC_OFFICE,Q_HEAT_OFFICE,Q_PEOPLE,Q_EQP,Q_LIGHT,Q_AHU_C,Q_AHU_H,T_INT_OFFICE_MEN
0,10748.1049,0.0000,3240.0,3874.3458,2112.2700,3890.5751,1096.6969,24.175757
1,1819.3670,469.0627,4212.0,5667.4181,2151.4910,40.6438,7093.4597,21.766815
2,6245.3497,0.0000,4860.0,6409.7036,2027.7509,662.0432,4612.1041,23.245216
3,2372.0553,0.0000,4212.0,6605.6016,2739.8060,285.1977,2852.4764,22.806492
4,15234.8404,0.0000,3240.0,7581.4202,2093.6939,3937.5324,520.0846,24.106955
...,...,...,...,...,...,...,...,...
7495,7207.0976,0.0000,4536.0,5637.0669,2383.8431,779.1408,1875.5403,23.561512
7496,2117.5981,0.0000,4860.0,4531.5950,2456.9407,126.5680,4740.4483,22.718172
7497,9401.5695,0.0000,3888.0,5784.6155,2317.7708,1322.7042,779.7318,23.408338
7498,12303.7953,0.0000,4536.0,4425.8534,2230.6226,3816.9807,784.2705,23.814731
7499,12126.5876,0.0000,4860.0,5550.6341,3047.3245,2131.3417,982.2605,23.655698